<script>
    var SizeBehavior = {
        properties: {
            size: {
                type: 'Number',
                value: 1
            },
            width: {
                type: 'Number',
                value: 0
            },
            height: {
                type: 'Number',
                value: 0
            },
            depth: {
                type: 'Number',
                value: 0
            }
        },
        ready: function() {
            var size = parseInt(this.size);
            this.width = parseInt(this.width) || size;
            this.height = parseInt(this.height) || size;
            this.depth = parseInt(this.depth) || size;
        },
        getSize: function() {
            return {width: this.width, height: this.height, depth: this.depth};
        }
    }
</script>
