<link rel="import" href="../../../../bower_components/polymer/polymer.html" />
<link rel="import" href="../../generic/jb-3js-cube/jb-3js-cube.html" />
<link rel="import" href="../jb-3js-pillar/jb-3js-pillar.html" />
<link rel="import" href="../../generic/jb-3js-cylinder/jb-3js-cylinder.html" />
<link rel="import" href="../../generic/jb-3js-spacer/jb-3js-spacer.html" />
<link rel="import" href="../../generic/jb-3js-triangular-prism/jb-3js-triangular-prism.html" />
<link rel="import" href="../../generic/jb-3js-hollow-triangular-prism/jb-3js-hollow-triangular-prism.html" />
<link rel="import" href="../../behaviors/jb-3js-helper-clamp/jb-3js-helper-clamp.html" />
<link rel="import" href="../../behaviors/jb-3js-helper-color/jb-3js-helper-color.html" />
<link rel="import" href="../../behaviors/jb-3js-helper-position/jb-3js-helper-position.html" />
<link rel="import" href="../../behaviors/jb-3js-helper-shadow/jb-3js-helper-shadow.html" />
<link rel="import" href="../../behaviors/jb-3js-helper-size/jb-3js-helper-size.html" />
<dom-module id="jb-3js-temple">
    <template>
        <jb-3js-cube shadow="{{shadow}}" color="{{color}}" x="{{x}}" y="{{bottomStepY}}" z="{{z}}" width="{{width}}" height="{{stepHeight}}" depth="{{depth}}">
            <jb-3js-cube clamp shadow="{{shadow}}" color="{{color}}" x="{{x}}" z="{{z}}" width="{{width}}" height="{{stepHeight}}" depth="{{step2Depth}}">
                <jb-3js-cube clamp shadow="{{shadow}}" color="{{color}}" x="{{x}}" z="{{z}}" width="{{width}}" height="{{stepHeight}}" depth="{{step3Depth}}">
                    <jb-3js-cube clamp shadow="{{shadow}}" color="{{color}}" x="{{x}}" z="{{z}}" width="{{width}}" height="{{stepHeight}}" depth="{{step4Depth}}">
                        <jb-3js-pillar clamp shadow="{{shadow}}" color="{{color}}" width="{{pillarWidth}}" height="{{pillarHeight}}" depth="{{pillarWidth}}" x="{{leftPillarX}}" z="{{frontPillarZ}}"></jb-3js-pillar>
                        <jb-3js-pillar clamp shadow="{{shadow}}" color="{{color}}" width="{{pillarWidth}}" height="{{pillarHeight}}" depth="{{pillarWidth}}" x="{{rightPillarX}}" z="{{frontPillarZ}}"></jb-3js-pillar>
                        <jb-3js-pillar clamp shadow="{{shadow}}" color="{{color}}" width="{{pillarWidth}}" height="{{pillarHeight}}" depth="{{pillarWidth}}" x="{{leftPillarX}}" z="{{z}}"></jb-3js-pillar>
                        <jb-3js-pillar clamp shadow="{{shadow}}" color="{{color}}" width="{{pillarWidth}}" height="{{pillarHeight}}" depth="{{pillarWidth}}" x="{{rightPillarX}}" z="{{z}}"></jb-3js-pillar>
                        <jb-3js-pillar clamp shadow="{{shadow}}" color="{{color}}" width="{{pillarWidth}}" height="{{pillarHeight}}" depth="{{pillarWidth}}" x="{{leftPillarX}}" z="{{backPillarZ}}"></jb-3js-pillar>
                        <jb-3js-pillar clamp shadow="{{shadow}}" color="{{color}}" width="{{pillarWidth}}" height="{{pillarHeight}}" depth="{{pillarWidth}}" x="{{rightPillarX}}" z="{{backPillarZ}}"></jb-3js-pillar>
                        <content select=".content"></content>
                        <jb-3js-spacer clamp height="{{pillarHeight}}" x="{{x}}" z="{{z}}">
                            <jb-3js-cube clamp shadow="{{shadow}}" color="{{color}}" x="{{x}}" z="{{z}}" width="{{width}}" height="{{stepHeight}}" depth="{{step4Depth}}">
                                <jb-3js-triangular-prism clamp shadow="{{shadow}}" color="{{color}}" x="{{x}}" z="{{z}}" width="{{width}}" height="{{roofInnerHeight}}" depth="{{roofInnerDepth}}"></jb-3js-triangular-prism>
                                <jb-3js-hollow-triangular-prism clamp shadow="{{shadow}}" color="{{color}}" x="{{x}}" z="{{z}}" width="{{width}}" height="{{roofOuterHeight}}" depth="{{step4Depth}}" thickness="{{stepHeight}}">
                                    <content></content>
                                </jb-3js-hollow-triangular-prism>
                            </jb-3js-cube>
                        </jb-3js-spacer>
                    </jb-3js-cube>
                </jb-3js-cube>
            </jb-3js-cube>
        </jb-3js-cube>
    </template>
</dom-module>
<script>
    'use strict';

    Polymer({
        is: 'jb-3js-temple',
        behaviors: [PositionBehavior, SizeBehavior, ColorBehavior, ShadowBehavior, ClampBehavior],
        properties: {
            stepHeight: {
                type: 'Number',
                computed: '_getStepHeight(height)'
            },
            bottomStepY: {
                type: 'Number',
                computed: '_getBottomStepY(y, height, stepHeight)'
            },
            step2Depth: {
                type: 'Number',
                computed: '_getStep2Depth(depth)'
            },
            step3Depth: {
                type: 'Number',
                computed: '_getStep3Depth(depth)'
            },
            step4Depth: {
                type: 'Number',
                computed: '_getStep4Depth(depth)'
            },
            pillarHeight: {
                type: 'Number',
                computed: '_getPillarHeight(stepHeight)'
            },
            pillarWidth: {
                type: 'Number',
                computed: '_getPillarWidth(width)'
            },
            leftPillarX: {
                type: 'Number',
                computed: '_getLeftPillarX(x, width)'
            },
            rightPillarX: {
                type: 'Number',
                computed: '_getRightPillarX(x, width)'
            },
            frontPillarZ: {
                type: 'Number',
                computed: '_getFrontPillarZ(z, depth)'
            },
            backPillarZ: {
                type: 'Number',
                computed: '_getBackPillarZ(z, depth)'
            },
            roofInnerHeight: {
                type: 'Number',
                computed: '_getRoofInnerHeight(stepHeight)'
            },
            roofOuterHeight: {
                type: 'Number',
                computed: '_getRoofOuterHeight(stepHeight)'
            },
            roofInnerDepth: {
                type: 'Number',
                computed: '_getRoofInnerDepth(depth)'
            }
        },
        _getStepHeight: function(height) {
            return height / 30;
        },
        _getStep2Depth: function(depth) {
            return depth * .9;
        },
        _getStep3Depth: function(depth) {
            return depth * .8;
        },
        _getStep4Depth: function(depth) {
            return depth * .7;
        },
        _getBottomStepY: function(y, height, stepHeight) {
            return y - height / 2 + stepHeight / 2;
        },
        _getPillarHeight: function(stepHeight) {
            return 20 * stepHeight;
        },
        _getPillarWidth: function(width) {
            return width * .1;
        },
        _getLeftPillarX: function(x, width) {
            return x - width * .4;
        },
        _getRightPillarX: function(x, width) {
            return x + width * .4;
        },
        _getFrontPillarZ: function(z, depth) {
            return z + depth * .3;
        },
        _getBackPillarZ: function(z, depth) {
            return z - depth * .3;
        },
        _getRoofInnerDepth: function(depth) {
            return depth * .675;
        },
        _getRoofInnerHeight: function(stepHeight) {
            return stepHeight * 4;
        },
        _getRoofOuterHeight: function(stepHeight) {
            return stepHeight * 5;
        }
    });
</script>
