<link rel="import" href="../../behaviors/jb-3js-helper-clamp/jb-3js-helper-clamp.html" />
<link rel="import" href="../../behaviors/jb-3js-helper-color/jb-3js-helper-color.html" />
<link rel="import" href="../../behaviors/jb-3js-helper-geometry-constructor/jb-3js-helper-geometry-constructor.html" />
<link rel="import" href="../../behaviors/jb-3js-helper-opacity/jb-3js-helper-opacity.html" />
<link rel="import" href="../../behaviors/jb-3js-helper-position/jb-3js-helper-position.html" />
<link rel="import" href="../../behaviors/jb-3js-helper-shadow/jb-3js-helper-shadow.html" />
<link rel="import" href="../../behaviors/jb-3js-helper-size/jb-3js-helper-size.html" />

<dom-module id="jb-3js-triangular-prism">
    <template><content></content></template>
</dom-module>
<script>
    'use strict';

    Polymer({
        is: 'jb-3js-triangular-prism',
        behaviors: [PositionBehavior, SizeBehavior, ColorBehavior, ShadowBehavior, OpacityBehavior, ClampBehavior, GeometryConstructorBehavior],
        created: function() {
            this.mesh = new THREE.Mesh();
            this.mesh.name = 'Triangular Prism';
        },
        attached: function() {
            this.mesh.material = new THREE.MeshPhongMaterial({color: this.color, opacity: this.opacity, transparent: this.transparent});

            var width = this.width;
            var height = this.height;
            var depth = this.depth;

            var geometry = new THREE.Geometry();
            var c = this.createGeometryConstructor(geometry);
            c.vertex(-width / 2, -height / 2, depth / 2);
            c.vertex(0, height / 2, depth / 2);
            c.vertex(width / 2, -height / 2, depth / 2);
            c.vertex(width / 2, -height / 2, -depth / 2);
            c.vertex(0, height / 2, -depth / 2);
            c.vertex(-width / 2, -height / 2, -depth / 2);

            c.face(2, 1, 0); // front
            c.face(5, 4, 3); // back

            c.face(2, 4, 1); // right
            c.face(3, 4, 2);

            c.face(5, 3, 2); // bottom
            c.face(0, 5, 2);

            c.face(0, 1, 4); // left
            c.face(5, 0, 4);

            geometry.computeFaceNormals();

            this.mesh.geometry = geometry;
            this.mesh.castShadow = this.shadow;
            this.mesh.receiveShadow = this.shadow;
            this.fire('add-to-scene', this.mesh);
        }
    });
</script>
