<link rel="import" href="../../behaviors/jb-3js-helper-color/jb-3js-helper-color.html" />
<link rel="import" href="../../behaviors/jb-3js-helper-opacity/jb-3js-helper-opacity.html" />
<link rel="import" href="../../behaviors/jb-3js-helper-position/jb-3js-helper-position.html" />
<link rel="import" href="../../behaviors/jb-3js-helper-shadow/jb-3js-helper-shadow.html" />
<link rel="import" href="../../behaviors/jb-3js-helper-size/jb-3js-helper-size.html" />
<link rel="import" href="../../generic/jb-3js-cylinder/jb-3js-cylinder.html" />
<dom-module id="jb-3js-wheel">
    <template>
        <jb-3js-transformation x="{{x}}" y="{{y}}" z="{{z}}" rotation-z="90">
            <jb-3js-cylinder shadow="{{shadow}}" color="{{color}}" width="{{width}}" height="{{height}}" depth="{{depth}}" opacity="{{opacity}}" radius-segments="{{radius-segments}}">
                <content></content>
            </jb-3js-cylinder>
        </jb-3js-transformation>
    </template>
</dom-module>
<script>
    'use strict';

    Polymer({
        is: 'jb-3js-wheel',
        properties: {
            height: {
                type: 'Number',
                value: 1
            },
            radius: {
                type: 'Number',
                value: .5
            },
            radiusSegments: {
                type: 'Number',
                value: 8
            }
        },
        behaviors: [PositionBehavior, ColorBehavior, ShadowBehavior, OpacityBehavior]
    });
</script>