<link rel="import" href="../jb-3js-helper-color.html" />
<link rel="import" href="../jb-3js-helper-position.html" />
<link rel="import" href="../jb-3js-helper-size.html" />
<link rel="import" href="../jb-3js-helper-texture.html" />
<script>
    'use strict';

    Polymer({
        is: 'jb-3js-skybox',
        behaviors: [PositionBehavior, SizeBehavior, ColorBehavior],
        properties: {
            textured: Boolean,
            skyboxTexture: String
        },
        attached: function() {
            var matProps = {color: this.color};
            if (this.textured) {
                matProps.map = new THREE.TextureLoader().load(this.skyboxTexture);
            }
            var material = new THREE.MeshBasicMaterial(matProps);
            material.side = THREE.BackSide;
            var geometry = new THREE.CubeGeometry(this.width, this.height, this.depth);
            if (this.textured) {
                var uvs = [];
                for (var x = 0; x < 5; x++) {
                    uvs[x] = [];
                    for (var y = 0; y < 5; y++) {
                        uvs[x][y] = new THREE.Vector2(x / 4, 1 - y / 4);
                    }
                }
                geometry.faceVertexUvs[0][0] = [uvs[1][1], uvs[1][2], uvs[0][1]]; // right
                geometry.faceVertexUvs[0][1] = [uvs[1][2], uvs[0][2], uvs[0][1]];
                geometry.faceVertexUvs[0][2] = [uvs[3][1], uvs[3][2], uvs[2][1]]; // left
                geometry.faceVertexUvs[0][3] = [uvs[3][2], uvs[2][2], uvs[2][1]];
                geometry.faceVertexUvs[0][4] = [uvs[2][0], uvs[2][1], uvs[1][0]]; // top
                geometry.faceVertexUvs[0][5] = [uvs[2][1], uvs[1][1], uvs[1][0]];
                geometry.faceVertexUvs[0][6] = [uvs[2][2], uvs[2][3], uvs[1][2]]; // top
                geometry.faceVertexUvs[0][7] = [uvs[2][3], uvs[1][3], uvs[1][2]];
                geometry.faceVertexUvs[0][8] = [uvs[2][1], uvs[2][2], uvs[1][1]]; // back
                geometry.faceVertexUvs[0][9] = [uvs[2][2], uvs[1][2], uvs[1][1]];
                geometry.faceVertexUvs[0][10] = [uvs[4][1], uvs[4][2], uvs[3][1]]; // front
                geometry.faceVertexUvs[0][11] = [uvs[4][2], uvs[3][2], uvs[3][1]];
            }
            var mesh = new THREE.Mesh(geometry, material);
            mesh.position.set(this.x, this.y, this.z);
            this.fire('addToScene', mesh);
        }
    });
</script>
