<link rel="import" href="../../behaviors/jb-3js-helper-position/jb-3js-helper-position.html" />
<link rel="import" href="../../behaviors/jb-3js-helper-size/jb-3js-helper-size.html" />

<dom-module id="jb-3js-terrain-plateau">
    <template><content></content></template>
</dom-module>
<script>
    'use strict';

    Polymer({
        is: 'jb-3js-terrain-plateau',
        behaviors: [PositionBehavior, SizeBehavior],
        properties: {
            mode: {
                type: 'String',
                value: 'eq' // eq, min, max
            }
        },
        attached: function() {
            var self = this;
            this.fire('modify-terrain', function(terrain) {
                var geometry = terrain.mesh.geometry;
                var position = geometry.attributes.position;
                var posArray = position.array;
                var colors = geometry.attributes.color;
                var colorArray = colors.array;
                var minX = self.x - self.width / 2;
                var maxX = self.x + self.width / 2;
                var minZ = self.z - self.depth / 2;
                var maxZ = self.z + self.depth / 2;
                var color = terrain.shader.getColorAt(self.y);
                for (var i = 0; i < posArray.length / 3; i++) {
                    var x = posArray[i * 3];
                    var y = posArray[i * 3 + 1];
                    var z = posArray[i * 3 + 2];
                    if (x >= minX && x <= maxX && z >= minZ && z <= maxZ) {
                        if (self.mode === 'eq' || (self.mode === 'min' && y < self.y) || (self.mode === 'max' && y > self.y)) {
                            posArray[i * 3 + 1] = self.y;
                        }
                        colorArray[i * 3] = color[0];
                        colorArray[i * 3 + 1] = color[1];
                        colorArray[i * 3 + 2] = color[2];
                    }
                }
                geometry.computeFaceNormals();
                geometry.computeVertexNormals();
                position.needsUpdate = true;
                colors.needsUpdate = true;
            });
        }
    });
</script>
